<div class="text-main">Modelos</div>

<div class="back-modelo">
    <div class="card card-size">
        <img src="assets/veiculos/mustang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mustang</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 396,900</h6>
            <p class="card-text">Novo design e detalhes exclusivos. Conheça o Novo Mustang Black Shadow! Confira as novidades da Edição Especial de 55 anos do Ícone do mundo.</p>
        </div>
        </div>

    <div class="card card-size">
        <img src="assets/veiculos/corolla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Corolla 2021</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$114,090</h6>
            <p class="card-text">A grade frontal cromada se combina harmoniosamente aos faróis dianteiros de LED3 com luzes diurnas (DRL) que conferem forte identidade ao modelo. </p>
        </div>
    </div>

    <div class="card card-size">
        <img src="assets/veiculos/onix.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Onix 2021</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$65,090</h6>
            <p class="card-text">O Onix mais sofisticado da gama é o Premier. Ele agrega rodas de liga-leve de 16 polegadas com desenho exclusivo, faróis com projetores, luzes de posição em LED, lanternas traseiras em LED e bancos com revestimento parcial em couro sintético.</p>
        </div>
    </div>
</div>