<div class="text-main">Modelos</div>

<div class="back-modelo">
    <div class="card" style="width: 18rem;">
        <img src="assets/veiculos/mustang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mustang</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/veiculos/corolla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Corolla 2021</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/veiculos/onix.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Onix 2021</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>