@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body
{
    width: 100vw;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}
h1
{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 0.7rem;
}
p
{
    font-size: 0.9rem;
    color: #d8d8d8;
}

.container{
    width: 100vw;
}