.text-main{
    border-bottom: 2px solid #2a5298;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.size-list{
    width: 230px;
}
.size-cadastro{
    width: 430px;
}

.acoes-flex-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-novo-registro{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.fixed-button-bottom{
    position: relative;
    bottom: 2px;
}
.container{
    height: 100vh;
}

.fixed-button-bottom2{
    position: relative;
    bottom: 0;
}

.formulario{
    border-radius: 1rem;
    border: 2px solid rgba(128, 128, 128, 0.615);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.815);
}
